{% extends 'base.html'%}

{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{article.title}} {% endblock %}
{% block content%}
  
  <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-4">
      <img src="{{article.img.url}}" class="img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{article.title}}</h5>
        <p class="card-text">{{article.content|safe}}</p>
        <p class="card-text">
          <small class="text-muted">
            {{article.edit_Date|timesince}}
          </small>
          <p >
            {%if request.user == article.writer %}
              <a class="btn btn-primary" href="{% url 'editArticle' editSlug=article.slug%}">Edit</a>
              <a class="btn btn-danger" href="{% url 'deleteArticle' deleteSlug=article.slug%}">Delete</a>
            {% endif %}
          </p>
        </p>
      </div>
    </div>
  </div>
  </div>
  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      {% if articles.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{articles.previous_page_number}}" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {%else%}
        <li class="page-item disabled">
          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
        </li>
      {% endif%}
      
      
        <li class="page-item"><a class="page-link" href="#">{{articles.number}}</a></li>
      
      
      {% if articles.has_next%}
        <li class="page-item">
          <a class="page-link" href="?page={{articles.next_page_number}}">Next</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">Next</a>
        </li>
      {%endif%}
      
    </ul>
  </nav>
  <h5> Comments </h5>
  
  {% if request.user.is_authenticated%}
    <form method="post">
      {% csrf_token %}
      {{commentAddForm|crispy}}
      <input type="submit" value="Make Comment" class="btn btn-danger mt-3 mb-3">
    </form>
    
  {% else %}
    <p>Login For Make Comment</p>
  {%endif%}
  {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <li
        ><div class="alert alert-success" role="alert">
          {{ message }}
        </div>
      </li>
      {% endfor %}
    </ul>
  {% endif %}

  {% for comment in comments %}
    <div class="card mt-3 mb-3">
      <div class="body mt-3 mb-3" style="display:flex;flex-direction: row;">
        <div>
          {% if comment.writer.avatar%}
            <img src="{{comment.writer.avatar.url}}" class="rounded" class="pt-4" width="75px" height="75px">
          {%else%}
            <img src="{% static 'img/no-avatar.jpg'%}" class="rounded" class="pt-4" width="75px" height="75px">
          {%endif%}
          
        </div>
        <div>
          <h5 class="card-title">{{comment.writer.username}}</h5>
          <p class="card-text"> 
            {{comment.comment}}
            {% if request.user == comment.writer or articles.writer%}
              <p><a class="btn btn-danger" href="{% url 'deleteComment' id=comment.id%}">Delete Comment</a></p>
            {%endif%}
          </p>
        </div>
      </div>
    </div>
  {%empty%}
  <p class="mb-3 mt-3">No Comments</p>
  {% endfor%}
{% endblock %}